@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <img class="card-img-top" alt="Card header image" src="~/Content/Images/ArticlePreview/borsh.jpg">
                <div class="card-body">
                    <h5 class="card-title">Литовский холодный борщ</h5>
                    <p class="card-text">Литовский холодный борщ – это замечательный холодный суп на время жары с добавлением вареной свеклы. Легкий, но сытный, он утоляет жажду и насыщает летом в жаркие дни. Рекомендую попробовать!</p>
                    <a href="#" class="btn btn-info">Читать</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <img class="card-img-top" alt="Card header image" src="~/Content/Images/ArticlePreview/rulet.jpg">
                <div class="card-body">
                    <h5 class="card-title">Рулет с маком</h5>
                    <p class="card-text">Порадуйте себя и своих близких этим несложным кулинарным изыском! Маковый рулет я пеку уже более 10 лет, и каждый раз мы наслаждаемся его вкусом. Вот вам идея, как приготовить рулет с маком.</p>
                    <a href="#" class="btn btn-info">Читать</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <img class="card-img-top" alt="Card header image" src="~/Content/Images/ArticlePreview/morkov.jpg">
                <div class="card-body">
                    <h5 class="card-title">Морковь по-корейски</h5>
                    <p class="card-text">Популярный легкий салат Морковь по-корейски. Домашний рецепт приготовления пряной корейской морковки.</p>
                    <a href="#" class="btn btn-info">Читать</a>
                </div>
            </div>
        </div>
    </div>
</div>