@{
    ViewBag.Title = "Reviews";
}

@Styles.Render("~/Content/Reviews.css")

    <div class="container">
        <h2 class="text-center">Blog reviews</h2>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://www.meme-arsenal.com/memes/48ba3138eeb5e3ec912de9f8c42526e2.jpg" class="img img-rounded img-fluid" />
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left" href="#"><strong>Татьяна</strong></a>
                        </p>
                        <div class="clearfix"></div>
                        <p>А я в этом году подсела на русскую морковь-витамин А пополняла каждый день,через день.Морковь 2шт. на мелкой терке и 2-4 зуб. чеснока на терке + сметана или сметана -майонез.А чеснок осенью против вирусов.</p>
                        <p class="float-right">11.02.19</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://www.meme-arsenal.com/memes/48ba3138eeb5e3ec912de9f8c42526e2.jpg" class="img img-rounded img-fluid" />
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left" href="#"><strong>Татьяна</strong></a>
                        </p>
                        <div class="clearfix"></div>
                        <p>А я в этом году подсела на русскую морковь-витамин А пополняла каждый день,через день.Морковь 2шт. на мелкой терке и 2-4 зуб. чеснока на терке + сметана или сметана -майонез.А чеснок осенью против вирусов.</p>
                        <p class="float-right">11.02.19</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://www.meme-arsenal.com/memes/48ba3138eeb5e3ec912de9f8c42526e2.jpg" class="img img-rounded img-fluid" />
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left" href="#"><strong>Татьяна</strong></a>
                        </p>
                        <div class="clearfix"></div>
                        <p>А я в этом году подсела на русскую морковь-витамин А пополняла каждый день,через день.Морковь 2шт. на мелкой терке и 2-4 зуб. чеснока на терке + сметана или сметана -майонез.А чеснок осенью против вирусов.</p>
                        <p class="float-right">11.02.19</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://www.meme-arsenal.com/memes/48ba3138eeb5e3ec912de9f8c42526e2.jpg" class="img img-rounded img-fluid" />
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left" href="#"><strong>Татьяна</strong></a>
                        </p>
                        <div class="clearfix"></div>
                        <p>А я в этом году подсела на русскую морковь-витамин А пополняла каждый день,через день.Морковь 2шт. на мелкой терке и 2-4 зуб. чеснока на терке + сметана или сметана -майонез.А чеснок осенью против вирусов.</p>
                        <p class="float-right">11.02.19</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://www.meme-arsenal.com/memes/48ba3138eeb5e3ec912de9f8c42526e2.jpg" class="img img-rounded img-fluid" />
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left" href="#"><strong>Татьяна</strong></a>
                        </p>
                        <div class="clearfix"></div>
                        <p>А я в этом году подсела на русскую морковь-витамин А пополняла каждый день,через день.Морковь 2шт. на мелкой терке и 2-4 зуб. чеснока на терке + сметана или сметана -майонез.А чеснок осенью против вирусов.</p>
                        <p class="float-right">11.02.19</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://www.meme-arsenal.com/memes/48ba3138eeb5e3ec912de9f8c42526e2.jpg" class="img img-rounded img-fluid" />
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left" href="#"><strong>Татьяна</strong></a>
                        </p>
                        <div class="clearfix"></div>
                        <p>А я в этом году подсела на русскую морковь-витамин А пополняла каждый день,через день.Морковь 2шт. на мелкой терке и 2-4 зуб. чеснока на терке + сметана или сметана -майонез.А чеснок осенью против вирусов.</p>
                        <p class="float-right">11.02.19</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://www.meme-arsenal.com/memes/48ba3138eeb5e3ec912de9f8c42526e2.jpg" class="img img-rounded img-fluid" />
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left" href="#"><strong>Татьяна</strong></a>
                        </p>
                        <div class="clearfix"></div>
                        <p>А я в этом году подсела на русскую морковь-витамин А пополняла каждый день,через день.Морковь 2шт. на мелкой терке и 2-4 зуб. чеснока на терке + сметана или сметана -майонез.А чеснок осенью против вирусов.</p>
                        <p class="float-right">11.02.19</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://www.meme-arsenal.com/memes/48ba3138eeb5e3ec912de9f8c42526e2.jpg" class="img img-rounded img-fluid" />
                    </div>
                    <div class="col-md-10">
                        <p>
                            <a class="float-left" href="#"><strong>Татьяна</strong></a>
                        </p>
                        <div class="clearfix"></div>
                        <p>А я в этом году подсела на русскую морковь-витамин А пополняла каждый день,через день.Морковь 2шт. на мелкой терке и 2-4 зуб. чеснока на терке + сметана или сметана -майонез.А чеснок осенью против вирусов.</p>
                        <p class="float-right">11.02.19</p>
                    </div>
                </div>
            </div>
        </div>

        <form>
            <div class="row input-group">
                <div class="form-group col-12">
                    <label for="exampleFormControlInput1">Your name</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Alex Hoho">
                </div>
            </div>
            
            <div class="row input-group">
                <div class="form-group col-10">
                    <label for="exampleFormControlTextarea1">Комментарий:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="20"></textarea>
                </div>
            </div>
        </form>
    </div>